extends layout

block main
  header
    h1 Scores for All players
  
  - let rounds = game.yieldPlayedRounds()
  div
    section(class="hands")
      div
        p Hand
        each round in rounds
          p #{round}

    section(class="scores")
      div
        each player in game.createOrdering()
          div(class="playerColumn")
            p #{game.yieldName(player)}

            each round in rounds
              - let data = game.yieldDataForPlayer(round, player)
              p #{data[0]} #{data[1]} #{data[2]}
          

  form(action="/bets" method="get")
    fieldset.actions
      input(type="submit" value="Play round!")