extends layout

block main
  header
    h1
      p This is the Score Card
    each player, i in game.playerNames
      div(class="playerTitle" id=(i == 0) ? "first" : "") P#{player}
  section#game
    - let keys = Object.keys(game.board)
    //- let currentHand = game.board.currentHand()
    each key in keys
      ul(class=game.isCurrentHand(key) ? "currentHand" : "") 
        div(class="key")= key
        div(class="playerCube")
          if game.isCurrentHand(key) && game.isBet()            
            form(action=`/bets/${key}` method="post")
              each player, i in game.playerNames
                input(class="Bet" type="text" value=bet name=`${bet}${i}` placeholder=3)
            input(type"submit" value="Submit bets")
            
//-
  input(class="Get" type="text" value=get name="get" placeholder=0)

  else
              div(class="Bet")= game.board[key][0][i][0]
              div(class="Get")= game.board[key][0][i][1]
            div(class="Score")= game.scoreFor(key) 





//-
  table#scoreboard
    each key in Object.keys(game.board)
      tbody
        each player, i in game.playerNames
          tr
            if (i == 0)
              th(rowspan='0', scope='row')= key
            th(colspan='0')= player
            td= game.board[key][0]
            td= game.board[key][1]






//-
  dl(class="scoreboard")
    dt Players
    dd
      each player in game.playerNames
        ul(class="players") #{player}
      
    each key in Object.keys(game.board)
      dt #{key}
        dd
          each betAndGet in game.board[key][0]
            ul(class="betsAndGets") #{betAndGet}
          each score in game.board[key][1]
            ul(class="scores") #{score}